{% extends 'backend/layout.html' %}

{% block content_head %}
<h1 class="m-0 text-dark">type-กลุ่มสินค้า</h1>

{% endblock content_head %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'mysetting' %}">Home</a></li>
<li class="breadcrumb-item active">type-กลุ่มสินค้า</li>
{% endblock breadcrumb %}

{% block content %}

<div class="container-fluid">
    <div class="card card-default">
    <div class="card card-default">
        <div class="card-header">
        <h3 class="card-title">แก้ไข - type-กลุ่มสินค้า</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
        </div>
        </div>
        <!-- /.card-header -->
        <form id="myForm" action="{% url 'updSettypegroup' %}" method="POST" data-urlgroup="{% url 'myDsubgroup' %}" data-urlsubgroup="{% url 'myDtypegroup' %}">
            {% csrf_token %}
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>กลุ่มสินค้า</label>
                        <select class="form-control select2bs4" id="id_group" name="group" style="width: 100%;">
                            <!-- <option selected="selected" value="{{setgroup.id}}">{{setgroup.code}} - {{setgroup.name}}</option> -->
                            {% for 1data in data1 %}
                            <option value="{{1data.id}}" {% if 1data == setgroup %}selected="selected"{% endif %}>{{1data.code}} - {{1data.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>sub-กลุ่มสินค้า</label>
                        <select class="form-control select2bs4" id="id_subgroup" name="subgroup" style="width: 100%;">
                            <!-- <option selected="selected">.....</option> -->
                            {% for 2data in data2 %}
                            <option value="{{2data.id}}" {% if 2data == setsubgroup %}selected="selected"{% endif %}>{{2data.code}} - {{2data.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="code">Code</label>
                        <input type="text" class="form-control" id="code" name="code" value="{{ settypegroup.code }}">
                        <input type="hidden" id="settypegroup_id" name="settypegroup_id" value="{{ settypegroup.id }}">
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group">
                        <label for="code">Name</label>
                        <input type="text" class="form-control" id="name" name="name" value="{{ settypegroup.name }}">
                    </div>
                <!-- /.form-group -->
                </div>
                <!-- /.col -->
                
            </div>
            <!-- /.row -->
        
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-block">บันทึก</button>
        </div>
        
        </form>
        <!-- /.card-body -->
        
    </div>
    </div>
</div>
{% endblock %}

{% block jspagelevel %}
<script>
    
    $(document).ready(function() {
        $('#id_group').change(function(){
            let urlgroup = $('#myForm').data('urlgroup');
            let group = $(this).val();
            // console.log(group);
            // $('#id_slug').val(group);
            $.ajax({
                url:urlgroup,
                data: {
                    group: group
                },
                success: function(response){
                    $('#id_subgroup').html(response);
                    $('#id_typegroup').empty();
                }
            })
        });
        $('.select2bs4').select2({
            theme: 'bootstrap4'
        });
        
        $('#setgroupForm').validate({
            rules: {
                code: {
                    required: true,
                },
                name: {
                    required: true,
                },
                slug: {
                    required: true
                },
            },
            messages: {
                code: {
                    required: "Please enter a code",
                },
                name: {
                    required: "Please enter a name",
                    minlength: "Your password must be at least 5 characters long"
                },
                slug: "Please enter a slug"
            },
            errorElement: 'span',
            errorPlacement: function (error, element) {
                error.addClass('invalid-feedback');
                element.closest('.form-group').append(error);
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            }
        });
    });
</script>
{% endblock jspagelevel %}