{% extends 'backend/layout.html' %}
{% load static %}

{% block content_head %}
<h1 class="m-0 text-dark">กำหนดช่วงราคาขนส่ง</h1>

{% endblock content_head %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'mysetting' %}">Home</a></li>
<li class="breadcrumb-item active">กำหนดช่วงราคาขนส่ง</li>
{% endblock breadcrumb %}

{% block content %}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">กำหนดช่วงราคาขนส่ง</h3>
                <div class="card-tools">
                    <a href="{% url 'createShippingPrice' %}" class="btn btn-block btn-outline-success btn-sm"><i class="fas fa-plus"></i> เพิ่มข้อมูล</a>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="dataSetgroup" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th class="text-center">price renge</th>
                  <th class="text-center">price</th>
                  <th class="text-center">flag</th>
                  <th class="text-center">Edit/Delete</th>
                </tr>
                </thead>
                <tbody>
                {% for data in queryset %}
                <tr>
                  <td align="center">{{data.price1_range}} - {{data.price2_range}}</td>
                  <td align="center">{{data.price}}</td>
                  <td align="center">{{data.flag}}</td>
                  <td align="center">
                    <a class="btn btn-info btn-sm" href="{% url 'editShipping' data.id %}">
                        <i class="fas fa-pencil-alt">
                        </i>
                        Edit
                    </a>
                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modal-{{data.id}}">
                        <i class="fas fa-trash">
                        </i> Delete
                    </button>
                  </td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
    </div>
</div>

{% endblock content %}

{% block modal %}
{% for data in queryset %}
<div class="modal fade" name="modal" id="modal-{{data.id}}">
    <div class="modal-dialog">
        
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Confirm Delete</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>{{data.price1_range}} - {{data.price2_range}}</p>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary">Delete</button> -->
          <a class="btn btn-danger btn-sm" href="{% url 'delShipping' data.id %}">
            <i class="fas fa-trash">
            </i>
            Delete
        </a>
        </div>
      </div>
        
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
  {% endfor %}
{% endblock modal %}

{% block jspagelevel %}
<script>
    $(document).ready(function() {
        $('#dataSetgroup').DataTable({
            "responsive": true,
            "autoWidth": false,
        });
    });
</script>
{% endblock jspagelevel %}