<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="ShoppingHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="c:\anaconda3\envs\myshopping\python.exe|c:\anaconda3\envs\myshopping\lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
        <httpErrors errorMode="Detailed" />
    </system.webServer>
	
	<appSettings>
        <!-- Required settings -->
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
        <add key="PYTHONPATH" value="C:\inetpub\wwwroot\shopping" />

        <!-- Optional settings -->
        <add key="WSGI_LOG" value="C:\Logs\shopping.log" />
        <add key="WSGI_RESTART_FILE_REGEX" value=".*((\.py)|(\.config))$" />
        <add key="APPINSIGHTS_INSTRUMENTATIONKEY" value="__instrumentation_key__" />
        <add key="DJANGO_SETTINGS_MODULE" value="shopping.settings" />
        <add key="WSGI_PTVSD_SECRET" value="__secret_code__" />
        <add key="WSGI_PTVSD_ADDRESS" value="ipaddress:port" />
    </appSettings>
</configuration>
