{% extends 'front_home/layout.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<!-- Begin Umino's Breadcrumb Area -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">Contact</li>
            </ul>
        </div>
    </div>
</div>
<!-- Umino's Breadcrumb Area End Here -->
<!-- Begin Contact Main Page Area -->
<div class="contact-main-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="contact-page-side-content">
                    <!-- <h4 class="contact-page-title">Contact Us</h4> -->
                    <h3>ร้านสลักศิลป์ฟู้ดส์ช็อป เมืองตรัง</h3>
                    <p class="contact-page-message"></p>
                    <div class="single-contact-block">
                        <h4><i class="fa fa-fax"></i> Address</h4>
                        <p>{{ company.address1 }}</p>
                    </div>
                    <div class="single-contact-block">
                        <h4><i class="fa fa-phone"></i> Phone</h4>
                        <p>Tel: {{company.Phone}}</p>
                        <p>Tel: {{company.Phone2}}</p>
                    </div>
                    <div class="single-contact-block last-child">
                        <h4><i class="fa fa-envelope-o"></i> LINE@ : {{company.line_id}}</h4>                        
                        <img src="{{ company.line_qrcode.url }}" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-us_img">
                    <img src="{% static 'images/contact/IMG_0384.jpg' %}" alt="Umino's About Us Image">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact Main Page Area End Here -->
{% endblock %}