{% extends 'front_home/layout.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<form method="POST">{% csrf_token %}
    <div class="field">
        <div class="control">
            {{ form.name }}
        </div>
        {% for error in form.non_field_errors %}
        <p>{{ error }}</p>
        {% endfor %}
    </div>
    <div class="field">
        <div class="control">
            {{ form.text }}
        </div>
    </div>
    <div class="control">    
        <input type="submit" class="btn btn-primary" value="Submit">
    </div>

</form>
{% endblock content %}