{% load static %}
{% load humanize %}

{% block content_minicart %}
<ul>
    
    <li>
        <a href="{% url 'cartDetail' %}">
            <div class="minicart-icon">
                <i class="fas fa-cart-plus"></i>
                {% if cart_totalrow %}
                    <span class="item-count" id="cart_totalrow">{{ cart_totalrow }}</span>
                {% else %}
                    <span class="item-count">0</span>
                {% endif %}
            </div>
            <div class="minicart-title">
                <span class="item_total">฿{{total|intcomma}}</span>
            </div>
        </a>
        <ul class="products-list minicart-body product-list-in-card">
            {% for item in cart_items %}            
        
            <li class="item">
                <div class="product-img">
                <img src="{{ item.product.image.url }}" alt="Product Image" class="img-size-50">
                </div>
                <div class="product-info">
                <a href="javascript:void(0)" class="product-title">{{item.product.name}}
                    <span class="badge badge-warning float-right">{{item.quantity}}</span></a>
                <span class="product-description">
                    {% if item.statusBuy == 'ขาย' %}
                        {% if request.user.is_authenticated %}
                                        <span class="new-price">฿{{item.product.netprice_mem|intcomma}}</span>
                        {% else %}
                                        <span class="new-price">฿{{item.product.netprice_guest|intcomma}}</span>
                        {% endif %}
                    {% else %}
                        *<span class="new-price">{{item.product.stat_promotion}}</span>
                    {% endif %}
                </span>
                </div>
            </li>
            {% endfor %}
            <li>
                <div class="price_content">
                    <div class="cart-subtotals">
                        <div class="cart-total subtotal-list">
                            <span class="label">ส่วนลด</span>
                            <span class="value">฿{{discount|intcomma}}</span>
                        </div>
                        <div class="cart-total subtotal-list">
                            <span class="label">ค่าจัดส่ง</span>
                            <span class="value">฿{{shipping|intcomma}}</span>
                        </div>
                        <div class="cart-total subtotal-list">
                            <span class="label">Total</span>
                            <span class="value">฿{{totalall|intcomma}}</span>
                        </div>
                    </div>
                    <div class="minicart-button">
                        <a class="umino-btn umino-btn_fullwidth" href="{% url 'cartDetail' %}">Cart</a>
                    </div>
                </div>
            </li>
        </ul>
    </li>
</ul>
{% endblock content_minicart %}