{% extends 'front_home/layout.html' %}
{% block content %}

<div class="umino-content_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 order-2 order-lg-1">
                <div class="umino-sidebar-catagories_area">
                    
                    <div class="umino-sidebar_categories category-module">
                        <div class="umino-categories_title">
                            <h5>Product Categories</h5>
                        </div>
                        <div class="sidebar-categories_menu">
                            <ul>
                            
                                <li class="has-sub"><a href="#">A01<i class="ion-chevron-right"></i></a>
                                    <ul>
                                    
                                            <li class="has-sub2"><a href="#">A01-001</a>
                                            <ul>
                                                <li>a001</li>
                                                <li>a002</li>
                                            </ul>
                                            </li>
                                            <li class="has-sub2"><a href="#">A01-002</a>
                                                <ul>
                                                    <li>a001</li>
                                                    <li>a002</li>
                                                </ul>
                                            </li>
                                            <li><a href="#">A01-003</a></li>
                                            <li><a href="#">A01-004</a></li>
                                            <li><a href="#">A01-005</a></li>
                                    
                                    </ul>
                                </li>
                            
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-9 order-1 order-lg-2">
            
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-header">MULTI LEVEL EXAMPLE</li>
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="fas fa-circle nav-icon"></i>
                    <p>Level 1</p>
                  </a>
                </li>
                <li class="nav-item has-treeview">
                  <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-circle"></i>
                    <p>
                      Level 1
                      <i class="right fas fa-angle-left"></i>
                    </p>
                  </a>
                  <ul class="nav nav-treeview">
                    <li class="nav-item">
                      <a href="#" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Level 2</p>
                      </a>
                    </li>
                    <li class="nav-item has-treeview">
                      <a href="#" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>
                          Level 2
                          <i class="right fas fa-angle-left"></i>
                        </p>
                      </a>
                      <ul class="nav nav-treeview">
                        <li class="nav-item">
                          <a href="#" class="nav-link">
                            <i class="far fa-dot-circle nav-icon"></i>
                            <p>Level 3</p>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a href="#" class="nav-link">
                            <i class="far fa-dot-circle nav-icon"></i>
                            <p>Level 3</p>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a href="#" class="nav-link">
                            <i class="far fa-dot-circle nav-icon"></i>
                            <p>Level 3</p>
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Level 2</p>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="fas fa-circle nav-icon"></i>
                    <p>Level 1</p>
                  </a>
                </li>
                
              </ul>
            </nav>
            <!-- /.sidebar-menu -->

       
            </div>
        </div>
                                  
    </div>
</div>
{% endblock %}
