{% extends 'front_home/layout.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="umino-wishlist_area">

<div class="container">
    <div class="row my-2">
      <div class="col-md-12">
      <div class="invoice-title text-right">
          <h3>รหัสใบสั่งซื้อ # {{orders.orderno}}</h3>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <address>
          <strong>ผู้ขายสินค้า:</strong><br>
          ร้านสลักศิลป์ฟู้ดส์ช็อป<br>
          75/6-9 ถ.ท่ากลาง ต.ทับเที่ยง <br>
          อ.เมือง จ.ตรัง
          </address>
        </div>
        <div class="col-md-6 text-right">
          <address>
            <strong>ผู้ซื้อสินค้า:</strong><br>
            {{orders.fname}} {{orders.lname}}<br>
            <br>
            <br>
            
          </address>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><strong>รายการสั่งซื้อ</strong></h3>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-condensed">
              <thead>
                              <tr>
                    <td><strong>Item</strong></td>
                    <td class="text-center"><strong>Price</strong></td>
                    <td class="text-center"><strong>Quantity</strong></td>
                    <td class="text-right"><strong>Totals</strong></td>
                              </tr>
              </thead>
              <tbody>
                {% for detail in order_items %}
                <tr>
                  <td>{{detail.xproduct.name}}</td>
                  <td class="text-center">{{detail.price}}</td>
                  <td class="text-center">{{detail.quantity}}</td>
                  <td class="text-right">{{detail.sub_total}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td class="text-center"></td>
                    <td class="text-center"> ยอดชำระเงิน </td>
                    <td class="text-right">{{orders.total}}</td>
                </tr>
              </tbody>
            </table>
            <button class="btn btn-secondary pull-right" onclick="window.print()">
              <i class="fas fa-print"></i>
              ปริ้นใบสั่งซื้อ
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
{% endblock %}