{% extends 'front_home/layout.html' %}
{% load static %}
{% load humanize %}
{% load myfunc %}


{% block content %}

<!-- Begin Umino's Breadcrumb Area -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">ร่วมงานกับเรา</li>
            </ul>
        </div>
    </div>
</div>
<!-- Umino's Breadcrumb Area End Here -->
<!-- Begin Umino's Frequently Area -->
<div class="frequently-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                
                <!-- Begin Frequently Accordin -->
                <div class="frequently-accordion">
                    <div id="accordion">
                                                
                        {% for data in qWork %}
                        <div class="card {% if data.orderNo == 1 %} actives {% endif %} ">
                            <div class="card-header" id="hd{{data.orderNo}}">
                                <h5 class="mb-0">
                                    <a href="javascript:void(0)" class="collapsed" data-toggle="collapse" data-target="#collapse{{data.orderNo}}" aria-expanded="false" aria-controls="collapse{{data.orderNo}}">
                                       {{ data.header }}
                                    </a>
                                </h5>
                            </div>
                            <div id="collapse{{data.orderNo}}" class="collapse {% if data.orderNo == 1 %} show {% endif %}" aria-labelledby="hd{{data.orderNo}}" data-parent="#accordion">
                                <div class="card-body">
                                    
                                     {{ data.detail }}
                                </div>
                            </div>
                        </div>
                        {% endfor %}                        

                        <!-- {{ 'abc0010defabc'|cut:"abc" }}<br> -->
                        <!-- {{ 'ABC'|lower}}<br> -->
                        <!-- <p>A random value, 1 ≤ {% random_int 1 10000 %} ≤ 10.</p><br> -->
                    </div>
                </div>
                <!--Frequently Accordin End Here -->
            </div>
        </div>
    </div>
</div>

{% endblock %}