{% extends 'backend/layout.html' %}
{% load crispy_forms_tags %}

{% block content_head %}
<h1 class="m-0 text-dark">รูปสินค้า</h1>

{% endblock content_head %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'mysetting' %}">Home</a></li>
<li class="breadcrumb-item active">รูปสินค้า</li>
{% endblock breadcrumb %}

{% block content %}

<div class="container-fluid">
    <div class="card card-default">
        <div class="card-header">
        <h3 class="card-title">เพิ่มข้อมูล - รูปสินค้า</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
        </div>
        </div>
        <!-- /.card-header -->
        <form role="form" action="{% url 'addPicProduct' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <!-- <label for="name">Code</label> -->
                        <input type="hidden" class="form-control" id="id_name" name="name" placeholder="">
                    </div>
                    <div class="form-group">
                        <label>รหัสสินค้า</label>
                        <select class="form-control select2bs4" id="id_slug" name="slug" style="width: 100%;">
                            <option selected="selected">.....</option>
                            {% for 1data in data1 %}
                            <option value="{{1data.id}}">{{1data.code}} // {{1data.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputFile">File input</label>
                        <div class="input-group">
                          <div class="custom-file">
                            <input type="file" class="custom-file-input" id="id_InputFile" name="nm_InputFile" multiple>
                            <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                          </div>
                        </div>
                    </div>
                    <!-- /.form-group -->
                    
                <!-- /.form-group -->
                </div>
                
            </div>
            <!-- /.row -->
                    
        </div>
        
        <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-block">บันทึก</button>
        </div>
        
        </form>
        <!-- /.card-body -->
        
    </div>
</div>
{% endblock %}

{% block jspagelevel %}
<script>
    
    $(document).ready(function() {
        $('.select2bs4').select2({
            theme: 'bootstrap4'
        });

        bsCustomFileInput.init();

        $('#id_slug').change(function(){
            let slug = $(this).val();
            // console.log(slug)
            $('#id_name').val(slug);
        });
        
    });
</script>
{% endblock jspagelevel %}