{% extends 'backend/layout.html' %}

{% block content_head %}
<h1 class="m-0 text-dark">Page Home Setting</h1>

{% endblock content_head %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'mysetting' %}">Home</a></li>
<li class="breadcrumb-item active">Page Home Setting</li>
{% endblock breadcrumb %}

{% block content %}

<div class="container-fluid">
    
    <div class="card card-default">
        <div class="card-header">
        <h3 class="card-title">แก้ไข - Page Home Setting</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
        </div>
        </div>
        <!-- /.card-header -->
        <form role="form" action="{% url 'updBand' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="id_name" name="name" value="{{ page.pagename }}" placeholder="">
                        <input type="hidden" id="page_id" name="page_id" value="{{page.id}}">
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label>message</label>
                            <textarea class="form-control" id="message" name="message" rows="3" placeholder="...">{{ page.message }}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_InputFile">File input</label>
                        <div class="input-group">
                          <div class="custom-file">
                            <input type="file" class="custom-file-input" id="id_InputFile" name="nm_InputFile">
                            <label class="custom-file-label" for="id_InputFile">Choose file</label>
                          </div>
                        </div>
                        {% if page.image %}
                        <p>File uploaded at: <a href="{{ page.image.url }}" target="_blank">{{ page.image.url }}</a></p>
                        {% else %}
                        <p>File uploaded at: No File.</p>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label>สถานะ</label>
                            <div class="radio icheck-success">
                                <input type="radio" {% if page.flag %} checked {% endif %} id="success1" name="success" value="true" />
                                <label for="success1">ใช้งาน</label>
                            </div>
                            <div class="radio icheck-warning">
                                <input type="radio" {% if not page.flag %} checked {% endif %} id="success2" name="success" value="false" />
                                <label for="success2">หยุดใช้งาน</label>
                            </div>
                        </div>
                    </div>
                    <!-- /.form-group -->
                    
                <!-- /.form-group -->
                </div>                
                
            </div>
            <!-- /.row -->                    
        </div>
        
        <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-block">บันทึก</button>
        </div>
        
        </form>
        <!-- /.card-body -->
        
    </div>
    
</div>
{% endblock %}

{% block jspagelevel %}
<script>
    
    $(document).ready(function() {
        $('.select2bs4').select2({
            theme: 'bootstrap4'
        });

        bsCustomFileInput.init();
        
        $('#setgroupForm').validate({
            rules: {
                code: {
                    required: true,
                },
                name: {
                    required: true,
                },
                slug: {
                    required: true
                },
            },
            messages: {
                code: {
                    required: "Please enter a code",
                },
                name: {
                    required: "Please enter a name",
                    minlength: "Your password must be at least 5 characters long"
                },
                slug: "Please enter a slug"
            },
            errorElement: 'span',
            errorPlacement: function (error, element) {
                error.addClass('invalid-feedback');
                element.closest('.form-group').append(error);
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            }
        });
    });
</script>
{% endblock jspagelevel %}